---
import Socials from "@components/Socials.astro";

import { SITE, SOCIALS } from "@config";
import Layout from "@layouts/Layout.astro";

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Hr from "@components/Hr.astro";

const title = "About";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout title={`${title} | ${SITE.title}`}>
  <Header />

  <section id="hero">
    <p class="prose min-w-full text-skin-base">
      Hey there &#128075;! <strong>Stephane Busso</strong> here, a French 🇫🇷 software
      builder and engineering manager currently based in New Zealand 🇳🇿. HTDOCS.dev
      is a medium to share about technologies and engineering.
    </p>
    <Hr />

    {
      // only display if at least one social link is enabled
      socialCount > 0 && (
        <div class="social-wrapper">
          <div class="social-links">Social Links:</div>
          <Socials />
        </div>
      )
    }
  </section>
  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
